<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
        <option value="-battery">Battery Life</option>
        <option value="-storage">Storage and Memory</option>
        <option value="-dimensions">Thickness</option>
        <option value="-screenSize">Screen Size</option>
      </select>
      
      <br>

      Compare two phones.<br>
      Phone 1: 
      <select ng-model="phone1">
        <option ng-repeat="phone in phones" value="{{phone.id}}">{{phone.name}}</option>
      </select>
      Phone 2: 
      <select ng-model="phone2">
        <option ng-repeat="phone in phones" value="{{phone.id}}">{{phone.name}}</option>
      </select>
      <button><a href="#/phones/{{phone1}}/{{phone2}}">Compare</a></button>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in phones | filter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
