<img ng-src="{{mainImageUrl1}}" class="phone1">

<h1>{{phone1.name}}</h1>

<p>{{phone1.description}}</p>

<img ng-src="{{mainImageUrl2}}" class="phone2">

<h1>{{phone2.name}}</h1>

<p>{{phone2.description}}</p>

<br>

<h1>Phone stats comparison</h1>
<table>
	<!--days of the week-->
	<tr>
		<th>Descriptions</th>
		<th>{{phone1.name}}</th>
		<th>{{phone2.name}}</th>
	</tr>
	<!--row0-->
	<tr>
		<td>Availability</td>
		<td><p ng-repeat="availability in phone1.availability">{{availability | notAvailable}}</p></td>
		<td><p ng-repeat="availability in phone2.availability">{{availability | notAvailable}}</p></td>
	</tr>
	<!--row1-->
	<tr>
		<td>Battery Type</td>
		<td>{{phone1.battery.type | notAvailable}}</td>
		<td>{{phone2.battery.type | notAvailable}}</td>
	</tr>
	<!--row2-->
	<tr>
		<td>Battery: Talk Time</td>
		<td>{{phone1.battery.talkTime | notAvailable}}</td>
		<td>{{phone2.battery.talkTime | notAvailable}}</td>
	</tr>
	<!--row3-->
	<tr>
		<td>Battery: Standby Time</td>
		<td>{{phone1.battery.standbyTime | notAvailable}}</td>
		<td>{{phone2.battery.standbyTime | notAvailable}}</td>
	</tr>
	<!--row4-->
	<tr>
		<td>Storage and Memory: RAM</td>
		<td>{{phone1.storage.ram | notAvailable}}</td>
		<td>{{phone2.storage.ram | notAvailable}}</td>
	</tr>
	<!--row5-->
	<tr>
		<td>Storage and Memory: Internal Storage</td>
		<td>{{phone1.storage.flash | notAvailable}}</td>
		<td>{{phone2.storage.flash | notAvailable}}</td>
	</tr>
	<!--row6-->
	<tr>
		<td>Network Support</td>
		<td>{{phone1.connectivity.cell | notAvailable}}</td>
		<td>{{phone2.connectivity.cell | notAvailable}}</td>
	</tr>
	<!--row7-->
	<tr>
		<td>Wifi</td>
		<td>{{phone1.connectivity.wifi | notAvailable}}</td>
		<td>{{phone2.connectivity.wifi | notAvailable}}</td>
	</tr>
	<!--row8-->
	<tr>
		<td>Bluetooth</td>
		<td>{{phone1.connectivity.bluetooth | notAvailable}}</td>
		<td>{{phone2.connectivity.bluetooth | notAvailable}}</td>
	</tr>
	<!--row9-->
	<tr>
		<td>Infrared</td>
		<td>{{phone1.connectivity.infrared | checkmark}}</td>
		<td>{{phone2.connectivity.infrared | checkmark}}</td>
	</tr>
	<!--row10-->
	<tr>
		<td>GPS</td>
		<td>{{phone1.connectivity.gps | checkmark}}</td>
		<td>{{phone2.connectivity.gps | checkmark}}</td>
	</tr>
	<!--row11-->
	<tr>
		<td>Android: OS Version</td>
		<td>{{phone1.android.os | notAvailable}}</td>
		<td>{{phone2.android.os | notAvailable}}</td>
	</tr>
	<!--row12-->
	<tr>
		<td>Android: UI</td>
		<td>{{phone1.android.ui | notAvailable}}</td>
		<td>{{phone2.android.ui | notAvailable}}</td>
	</tr>
	<!--row13-->
	<tr>
		<td>Dimensions</td>
		<td><p ng-repeat="dim in phone1.sizeAndWeight.dimensions">{{dim | notAvailable}}</p></td>
		<td><p ng-repeat="dim in phone2.sizeAndWeight.dimensions">{{dim | notAvailable}}</p></td>
	</tr>
	<!--row14-->
	<tr>
		<td>Weight</td>
		<td>{{phone1.sizeAndWeight.weight | notAvailable}}</td>
		<td>{{phone2.sizeAndWeight.weight | notAvailable}}</td>
	</tr>
	<!--row15-->
	<tr>
		<td>Display: Screen size</td>
		<td>{{phone1.display.screenSize | notAvailable}}</td>
		<td>{{phone2.display.screenSize | notAvailable}}</td>
	</tr>
	<!--row16-->
	<tr>
		<td>Display: Screen resolution</td>
		<td>{{phone1.display.screenResolution | notAvailable}}</td>
		<td>{{phone2.display.screenResolution | notAvailable}}</td>
	</tr>
	<!--row17-->
	<tr>
		<td>Display: Touch screen</td>
		<td>{{phone1.display.touchScreen | checkmark}}</td>
		<td>{{phone2.display.touchScreen | checkmark}}</td>
	</tr>
	<!--row18-->
	<tr>
		<td>Hardware: CPU</td>
		<td>{{phone1.hardware.cpu | notAvailable}}</td>
		<td>{{phone2.hardware.cpu | notAvailable}}</td>
	</tr>
	<!--row19-->
	<tr>
		<td>Hardware: USB</td>
		<td>{{phone1.hardware.usb | notAvailable}}</td>
		<td>{{phone2.hardware.usb | notAvailable}}</td>
	</tr>
	<!--row20-->
	<tr>
		<td>Hardware: Audio/Headphone jack</td>
		<td>{{phone1.hardware.audioJack | notAvailable}}</td>
		<td>{{phone2.hardware.audioJack | notAvailable}}</td>
	</tr>
	<!--row21-->
	<tr>
		<td>Hardware: FM Radio</td>
		<td>{{phone1.hardware.fmRadio | checkmark}}</td>
		<td>{{phone2.hardware.fmRadio | checkmark}}</td>
	</tr>
	<!--row22-->
	<tr>
		<td>Hardware: Accelerometer</td>
		<td>{{phone1.hardware.accelerometer | checkmark}}</td>
		<td>{{phone2.hardware.accelerometer | checkmark}}</td>
	</tr>
	<!--row23-->
	<tr>
		<td>Camera</td>
		<td>{{phone1.camera.primary | notAvailable}}</td>
		<td>{{phone2.camera.primary | notAvailable}}</td>
	</tr>
	<!--row24-->
	<tr>
		<td>Camera Features</td>
		<td>{{phone1.camera.features.join(', ') | notAvailable}}</td>
		<td>{{phone2.camera.features.join(', ') | notAvailable}}</td>
	</tr>
	<!--row25-->
	<tr>
		<td>Additional Features</td>
		<td>{{phone1.additionalFeatures | notAvailable}}</td>
		<td>{{phone2.additionalFeatures | notAvailable}}</td>
	</tr>



</table>